body {
    --debug-bg: 245, 134, 237;
    background-image: linear-gradient(rgb(var(--debug-bg)));
    background-color: black;
    /* background-image: linear-gradient(red); */
    /* debug end */
}

#root {
    --landing-transparency: 0.3;
    --about-transparency: 0.9;
    --project-transparency: 0.7;
    --contact-transparency: 0.5;
}

#landing {
    display: flex;
    flex-direction: column;
    min-height: max(100dvh, 30rem);
    background-color: rgba(0, 0, 0, var(--landing-transparency));
}

.hero {
    text-align: right;
    /* align-items: right; */
    padding-right: 10%;
}

#hero-header {
    font-size: 5rem;
    padding-top: 20%;
}

#hero-subheader {
    font-size: 1.5rem;
}

#hero-mini-pitch {}

#hero-to-about {}

#gradient-buffer1 {
    height: 20rem;
    background: linear-gradient(180deg, rgba(0, 0, 0, var(--landing-transparency)) 25%, rgba(0, 0, 0, var(--about-transparency)) 75%);
}

#about {
    background-color: rgba(0, 0, 0, var(--about-transparency));
    color: white;
}

#about-content {
    padding: 10% 12%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

#photo-me {
    background-color: rgb(var(--debug-bg));
    margin: 0 0 0 12rem;
    min-width: 225px;
    min-height: 400px;
}

#about-text {
    display: flex;
    min-height: 100%;
    flex-direction: column;
}

#gradient-buffer2 {
    height: 10rem;
    background: linear-gradient(180deg, rgba(0, 0, 0, var(--about-transparency)) 25%, rgba(0, 0, 0, var(--project-transparency)) 75%);
}

#projects {
    background-color: rgba(0, 0, 0, var(--project-transparency));
}

#gradient-buffer3 {
    height: 10rem;
    background: linear-gradient(180deg, rgba(0, 0, 0, var(--project-transparency)) 25%, rgba(0, 0, 0, var(--contact-transparency)) 60%);
}

#contact {
    background-color: rgba(0, 0, 0, var(--contact-transparency));
}

/* animations */
@keyframes fadeInFromRight {
    from {
        opacity: 0;
        transform: translateX(5rem);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.fade-in-from-right {
    /* opacity: 0; */
    animation: fadeInFromRight 1s ease-out
}