body {
    /* background-image: linear-gradient(red); */
    /* debug end */
}

:root {
    --debug: 245, 134, 237;

    --opacity-landing: 0;
    --opacity-about: 0.7;
    --opacity-project: 0.5;
    --opacity-contact: 0;

    /* --color-primary: 4, 20, 58; */
    --color-primary: rgb(0, 85, 221);
    --color-secondary: rgb(97, 48, 156);
    --color-tertiary: rgb(178, 34, 6);
    --color-text-light: #eff1ea;
    --color-text-dark: #313628;
    /* 
    background-image: url("/project-gifs/debug.gif");
    background-size: cover; */

    /* animation vars */
    --anim-preset: 1s ease-out;
}

header {
    position: fixed;
    width: 100%;
    padding: 1rem;
    background: rgb(var(--debug));
}

#landing {
    display: flex;
    flex-direction: column;
    min-height: max(100dvh, 30rem);
    /* background-color: rgba(var(--color-primary), var(--opacity-landing)); */
    /* background-color: rgba(0, 0, 0, var(--opacity-landing)); */
    color: var(--color-text-light);
}

.hero-card {
    margin-top: 20%;
    text-align: right;
    /* background-color: var(--color-secondary); */
    padding-right: 10%;
}

#hero-header {
    font-size: 5rem;
}

#hero-subheader {
    font-size: 1.5rem;
}

#hero-mini-pitch {}

#hero-to-about {}

#gradient-buffer1 {
    height: 20rem;
}

#about {
    color: var(--color-text-light);
}

#about-content {
    padding: 10% 12%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

#photo-me {
    background-color: rgb(var(--debug));
    margin: 0 12rem 0 0;
    min-width: 225px;
    min-height: 400px;
}

#about-text {
    display: flex;
    min-height: 100%;
    flex-direction: column;
}

#gradient-buffer2 {
    height: 10rem;
    /* background: linear-gradient(180deg,
            rgba(var(--color-primary), var(--opacity-about)) 25%,
            rgba(var(--color-primary), var(--opacity-project)) 75%); */
}

#projects {
    /* background-color: rgba(var(--color-primary), var(--opacity-project)); */
}

#gradient-buffer3 {
    height: 10rem;
    /* background: linear-gradient(180deg,
            rgba(var(--color-primary), var(--opacity-project)) 25%,
            rgba(var(--color-primary), var(--opacity-contact)) 60%); */
}

#contact {
    /* background-color: rgba(var(--color-primary), var(--opacity-contact)); */
}

footer {
    width: 100%;
    padding: 1rem;
    background-color: var(--color-primary);
}

/* animations */
@keyframes titleEnter {
    from {
        opacity: 0;
        transform: translateX(50%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.title-enter {
    /* opacity: 0; */
    animation: titleEnter var(--anim-preset)
}

@keyframes aboutPhotoEnter {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }

}

.about-photo-enter {
    animation: aboutPhotoEnter var(--anim-preset)
}

@keyframes aboutTextEnter {
    from {
        opacity: 0;
        transform: translateX(100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.about-text-enter {
    animation: aboutTextEnter var(--anim-preset)
}