.carousel-container {
    --padding: 15px;

    display: flex;
    justify-content: center;
    /* background-color: var(--color-accent); */

    h5 {
        /* color: var(--color-quaternary); */
    }

    a {
        color: var(--color-accent);
        text-decoration-color: var(--color-accent);
    }
}

.carousel {
    padding: 0 60px;
    max-width: 82%;
    height: auto;
}

.carousel-button {
    background: var(--color-accent);
    border-width: 3px;
    border-color: var(--card-border-color);
}

.carousel-item {
    max-width: 30rem;
}

.card-base {
    --card-border-width: 5px;
    --card-border-color: var(--color-border-accent);
    background-color: var(--color-base);
    color: var(--color-text-light);
    /* background-color: transparent; */
    border-color: var(--card-border-color);
    border-width: var(--card-border-width);
    box-shadow: none;
    height: 100%;
}

.card-header-base {
    border-bottom: solid;
    border-bottom-color: inherit;
    border-bottom-width: inherit;
    padding-bottom: var(--padding);
}

.card-description-base {
    padding: 0 var(--padding);
}

.card-image-base {
    margin: 0 calc(1.5 * var(--padding));
    filter: drop-shadow(var(--card-border-color) var(--card-border-width) 0) drop-shadow(var(--card-border-color) 0 var(--card-border-width)) drop-shadow(var(--card-border-color) calc(-1 * var(--card-border-width)) 0) drop-shadow(var(--card-border-color) 0 calc(-1 * var(--card-border-width)));
    object-fit: scale-down;
    max-height: 30%;
}

.project-img {
    border-color: inherit;
    border-width: inherit;
    border-radius: inherit;
}

.card-tool-list-base {
    padding: 0 var(--padding);
}

.card-footer-base {
    border-top-width: 5px;
    border-color: var(--card-border-color);
    margin-top: auto;
}

/* project specific styling */

#project-card-stay-bouncy {
    --card-border-color: rgb(36, 109, 164);
    background-color: white;
    color: var(--text-color-dark);

    a {
        color: var(--color-base);
        text-decoration-color: var(--color-base);
    }
}

#project-image-sb {
    background-image: url('/project/stay-bouncy/sb-placeholder.png');
    background-size: cover;
    background-position: bottom;
}