/* default */

.chip-base {
    padding: 15px 10px;
    border: solid;
    border-width: var(--border-thickness-less);
    border-radius: 15px;
    border-color: var(--color-border-accent);
    background-color: var(--color-accent);

    font-size: 1.1rem;
    color: var(--color-text-dark);
}

.chip-small {
    font-size: 0.8rem;
    padding: 10px 5px;
}

/* languages */
.chip-java {
    background-color: rgb(234, 234, 234);
    color: rgb(178, 102, 2);
    border-color: rgb(0, 117, 143);
}

.chip-python {
    background-color: rgb(57, 117, 165);
    color: rgb(255, 222, 86);
    border-color: rgb(0, 44, 53);
}

.chip-c-cpp {
    background-color: rgb(101, 154, 210);
    color: white;
    border-color: rgb(0, 68, 130);
}

.chip-gdscript {
    background-color: white;
    color: rgb(65, 65, 67);
    border-color: rgb(36, 109, 164);
}

.chip-jsts {
    border-color: black;
    background-color: rgb(31, 31, 31);
    color: white;

    .js {
        color: rgb(239, 216, 29);
    }

    .ts {
        color: rgb(47, 116, 192);
    }
}

.chip-swift {
    background-color: rgb(246, 99, 35);
    color: white;
    border-color: rgb(106, 33, 2);
}

/* game dev tools */
.chip-godot {
    background-color: white;
    color: rgb(65, 65, 67);
    border-color: rgb(36, 109, 164);
}

.chip-unreal {
    background-color: white;
    color: black;
    border-color: black;
}

.chip-processing {
    background-color: rgb(130, 175, 255);
    /* color: rgb(5, 100, 255); */
    border-color: rgb(30, 50, 170);
    color: rgb(30, 50, 170);
}

.chip-pygame {
    background-color: rgb(193, 253, 32);
    border-color: rgb(7, 223, 28);
    color: black;
}

.chip-aseprite {
    border-color: rgb(101, 85, 97);
    background-color: rgb(125, 146, 158);
    color: white;
}

/* web dev tools */

.chip-html-css {
    border-color: black;
    background-color: rgb(236, 237, 239);
    color: black;

    .txt-html {
        color: rgb(230, 81, 39);
    }

    .txt-css {
        color: rgb(12, 115, 184);
    }
}

.chip-tailwind {
    color: rgb(0, 188, 255);
    border-color: rgb(3, 7, 18);
    background-color: rgb(29, 32, 42);
}

.chip-react {
    border-color: rgb(27, 30, 36);
    background-color: rgb(35, 39, 47);
    color: rgb(88, 196, 220);
}

.chip-electron {
    color: rgb(159, 234, 249);
    background-color: rgb(27, 28, 38);
    border-color: rgb(27, 27, 29);
}

.chip-node {
    border-color: rgb(44, 52, 55);
    background-color: rgb(13, 18, 28);
    color: rgb(132, 186, 100);
}

.chip-express {
    border-color: black;
    background-color: rgb(20, 20, 20);
    color: rgb(249, 117, 131);
}

.chip-postman {
    border-color: rgb(47, 19, 10);
    color: rgb(205, 108, 55);
    background-color: black;
}

.chip-vercel {
    border-color: black;
    background-color: black;
    color: white
}

.chip-mongo {
    border-color: rgb(0, 25, 36);
    background-color: rgb(0, 30, 43);
    color: rgb(0, 237, 100);
}

.chip-supabase {
    color: rgb(51, 241, 159);
    background-color: rgb(27, 31, 27);
    border-color: rgb(19, 20, 19);
}

.chip-postgresql {
    color: white;
    background-color: rgb(51, 103, 145);
    border-color: rgb(33, 33, 33);
}


/* IDEs */

.chip-vscode {
    color: rgb(35, 167, 242);
    background-color: rgb(13, 16, 20);
    border-color: rgb(0, 50, 80);
}

.chip-vs {
    background-color: rgb(188, 73, 244);
    color: white;
    border-color: rgb(50, 0, 158);
}

.chip-eclipse {
    background-color: rgb(12, 26, 61);
    border-color: rgb(255, 241, 204);
    color: rgb(248, 149, 33);
}

.chip-vim {
    background-color: black;
    border-color: black;
    color: rgb(0, 255, 26);
}

.chip-xcode {
    background-color: rgb(0, 113, 227);
    border-color: rgb(0, 61, 123);
    color: white;
}

.chip-android-studio {
    background-color: rgb(43, 45, 48);
    border-color: black;
    color: rgb(49, 159, 73);
}


/* version ctrl */

.chip-git {
    border-color: black;
    background-color: rgb(4, 6, 65);
    color: white;
}

.chip-perforce {
    border-color: rgb(76, 0, 255);
    background-color: white;
    color: black;
}